* {
  font-family: system-ui, -apple-system, 'Helvetica Neue', sans-serif;
}

.main-heading {
  display: flex;
  flex-direction: row-reverse;
  padding: 1.5em;
  border-bottom: 1px solid black;
}

.abeliophyllum-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.5em;
  border-bottom: 1px solid black;
}

.abeliophyllum-heading a {
  color: green;
  margin-top: 25px;
  padding-right: 10px;
}

.abeliophyllum-heading h2 {
  color: orange
}

.ageratum-content figure {
  float: left;
}

.ageratum-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.5em;
  border-bottom: 1px solid black;
}

.ageratum-heading a {
  color: green;
  margin-top: 25px;
  padding-right: 10px;
}

.ageratum-heading h2 {
  color: orange
}

.ageratum-content figure {
  float: left;
}

.form-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.5em;
  border-bottom: 1px solid black;
  margin-bottom: 2em;
}

.form-heading a {
  color: green;
  margin-top: 25px;
  padding-right: 10px;
}

.form-heading h2 {
  color: orange;
}

.main-heading h2 {
  color: orange;
}

.content {
  display: flex;
}

.content nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-heading a {
  color: green;
  margin-top: 25px;
  padding-right: 10px;
}

form div {
  margin-bottom: 1em;
}

.name,
.time-stamp,
.comment {
  display: inline-block;
  margin-right: 1em;
}